<app-menu-title></app-menu-title>
<article class="container-article">
    <article class="articles-Main">
        <app-big-card
            Id="1"
            photoCover="https://th.bing.com/th/id/OIP.d8Xhfin0-FYdX35l3h5QYAHaEI?pid=ImgDet&rs=1"
            cardTitle="Os Vingadores"
            cardDescription="A MARVEL vem com mais uma nova grande produção!"
        ></app-big-card>

    </article>
    <article class="articles-Others">
        <app-small-card
            Id="2"
            photoCover="https://th.bing.com/th/id/OIP.AdD5USyN3gk_mUGuGGgqlAHaEo?pid=ImgDet&rs=1"
            cardTitle="Novo filme do Pantera Negra"
        ></app-small-card>
        <app-small-card
            Id="3"
            photoCover="https://th.bing.com/th/id/OIP.PizL3Mmxtu1ypbFiKcuDPQHaEK?pid=ImgDet&rs=1"
            cardTitle="Veja o filme do Homem de Ferro 4"
        ></app-small-card>
        <app-small-card
            Id="4"
            photoCover="https://img.elo7.com.br/product/zoom/20CC0ED/painel-homem-aranha-g-frete-gratis-tematicas.jpg"
            cardTitle="Vem aí: Homem-Aranha"
        ></app-small-card>
    </article>
</article>